body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #FF6600;
}

button:hover {
  
}

input::placeholder {
  color: #ccc;
}

a.login:hover {
  background-color: #FF6600;
  color: #fff;
}

a.register:hover {
  background-color: #e55d00;
}



@tailwind base;
@tailwind components;
@tailwind utilities;